@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin full-width-bg($color) {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: $color;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}